.container {
  display: flex;
  width: 100%;
  max-width: 600px;
  background-color: transparent;
  color: white;
  flex-direction: column;
}

body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  background-color: #1e1e1e;
  border: 2px solid #333;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #333;
  border-color: #444;
}

.button span {
  font-weight: bold;
  background-color: #333;
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  text-align: center;
}
